// Body

$body-color:white;
$theme-colors: (
    "primary":#03292A,
    "secondary":#076766,
    "success":#065252,
    "info":#1E3A3B,
    "warning":#ffffff,
    "dark":#888888

);
$container-max-widths: (
  xl: 1280px
);

$border-width: 7px;
$carousel-indicator-width:10px;
$carousel-indicator-height:10px;

.carousel-indicators li {
  width: $carousel-indicator-width;
  height: $carousel-indicator-height;
  border-radius: 100%;
}