// Body

$body-color:white;
$theme-colors: (
    "primary":#03292A,
    "secondary":#076766,
    "success":#065252,
    "info":#1E3A3B,
    "warning":#ffffff

);
$container-max-widths: (
  xl: 1280px
);

$border-width: 7px;
