
@import "./variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";



body {
  font-size: $font-size-base;
  box-sizing: border-box;
  font-family:sans-serif;
  background:white;
  color: white;
}
html {
  font-size:16px;
}
hr {
  border-top:1px solid black;
}
p {
  text-indent:3em;
}
a{
  color: #ffffff;
}
a:hover{
  color:purple;
}