
$theme-colors: (
  "primary": #FF69B4
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";




html {
  box-sizing: border-box;
  font-size:15px;
  background-color:lightpink;
}

body {
  padding: 20px;
  background-color:lightblue;
  color:black;
  font-family:sans-serif;

}